.breadcrumbs {
  background-color: #f6f4f0;
}
.breadcrumbs .breadcrumb {
  background-color: #f6f4f0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px 0 14px 0;
}
.breadcrumbs .breadcrumb-item {
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.breadcrumbs .breadcrumb-item__link {
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}
.breadcrumbs .breadcrumb-item__link:hover {
  color: #333;
}
.breadcrumbs .breadcrumb .active {
  color: #333333;
}
.content__title {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 38px;
}
.content .accordion {
  width: 100%;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  padding: 0;
  cursor: pointer;
}
.content .accordion:after {
  content: '\2212';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.content .active:after {
  content: "\002B";
}
.content .panel {
  display: block;
  background-color: white;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.content .panel .list {
  margin-bottom: 0;
}
.content .panel .list-item__link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}
.content .panel .list-item__link:before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #8c8c8c;
  margin-right: 10px;
}
.content .panel .list-item__link:hover {
  color: #333;
}
.content .panel .list-item .actively {
  color: #333;
}
.content .panel .list-item .actively:before {
  background-color: #333;
}
.content .panel .priceform {
  margin-top: 10px;
}
.content .panel .priceform .priceform-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .panel .priceform .priceform-block label {
  position: relative;
  font-family: Lato;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .panel .priceform .priceform-block input {
  display: none;
}
.content .panel .priceform .priceform-block label:before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid #8c8c8c;
  vertical-align: middle;
  margin-right: 9px;
}
.content .panel .priceform .priceform-block input:checked + label:after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: black;
  vertical-align: middle;
  position: absolute;
  left: 0px;
  top: 4.5px;
  background: url(../img/checkmark.png) no-repeat;
  background-size: 100%;
}
.content .panel .sizeform {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .view_block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f4f0;
  padding: 13px 13px 13px 20px;
  margin-bottom: 20px;
  width: 100%;
}
.content .view_block .wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 372px;
}
.content .view_block .wrap .view_block-sort {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*select in the header*/
  /**/
  /* Style #3 */
}
.content .view_block .wrap .view_block-sort__title {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 10px;
}
.content .view_block .wrap .view_block-sort .select_main {
  border: 1px solid #d9d3d9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 150px;
  position: relative;
  color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.content .view_block .wrap .view_block-sort #sort {
  width: 100%;
  height: 34px;
  position: relative;
  border: none;
  cursor: pointer;
  opacity: 0;
  /*filter: alpha(opacity=0);*/
}
.content .view_block .wrap .view_block-sort .select_main p {
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding: 6px 0px 0px 10px;
  background-color: #fff;
  background: transparent url(../img/greych.png) no-repeat 88%;
}
.content .view_block .wrap .view_block-sort .select-wrapper {
  position: relative;
  width: 100px;
  /*margin: 20px 0;*/
  border: 0;
  border-radius: 3px;
}
.content .view_block .wrap .view_block-sort .select-wrapper select {
  width: 100px;
  height: 28px;
  padding: 0 20px 0 7px;
  background: transparent;
  border: 0;
  appearance: none;
  /* remove arrow        */
  -webkit-appearance: none;
  /* remove arrow Chrome */
  -moz-appearance: none;
  /* remove arrow FF     */
  margin-left: 15px;
}
.content .view_block .wrap .view_block-sort .select-wrapper select::-ms-expand {
  display: none;
  /* remove arrow IE     */
}
.content .view_block .wrap .view_block-sort .select-arrow-3 {
  position: absolute;
  z-index: -9999;
  border: 5px solid transparent;
  border-bottom: 0;
  right: 40px;
}
.content .view_block .wrap .view_block-sort .select-arrow-3:nth-child(1) {
  top: 11px;
  border-top-color: #868686;
}
.content .view_block .wrap .view_block-sort .select-arrow-3:nth-child(2) {
  top: 3px;
  border-top-color: #FFF;
}
.content .view_block .wrap .view_block-show {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*select in the header*/
  /**/
  /* Style #3 */
}
.content .view_block .wrap .view_block-show__title {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 10px;
}
.content .view_block .wrap .view_block-show .select_main {
  border: 1px solid #d9d3d9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 80px;
  position: relative;
  color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.content .view_block .wrap .view_block-show #show {
  width: 100%;
  height: 34px;
  position: relative;
  border: none;
  cursor: pointer;
  opacity: 0;
  /*filter: alpha(opacity=0);*/
}
.content .view_block .wrap .view_block-show .select_main p {
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding: 6px 0px 0px 10px;
  background-color: #fff;
  background: transparent url(../img/greych.png) no-repeat 88%;
}
.content .view_block .wrap .view_block-show .select-wrapper {
  position: relative;
  width: 100px;
  /*margin: 20px 0;*/
  border: 0;
  border-radius: 3px;
}
.content .view_block .wrap .view_block-show .select-wrapper select {
  width: 100px;
  height: 28px;
  padding: 0 20px 0 7px;
  background: transparent;
  border: 0;
  appearance: none;
  /* remove arrow        */
  -webkit-appearance: none;
  /* remove arrow Chrome */
  -moz-appearance: none;
  /* remove arrow FF     */
  margin-left: 15px;
}
.content .view_block .wrap .view_block-show .select-wrapper select::-ms-expand {
  display: none;
  /* remove arrow IE     */
}
.content .view_block .wrap .view_block-show .select-arrow-3 {
  position: absolute;
  z-index: -9999;
  border: 5px solid transparent;
  border-bottom: 0;
  right: 40px;
}
.content .view_block .wrap .view_block-show .select-arrow-3:nth-child(1) {
  top: 11px;
  border-top-color: #868686;
}
.content .view_block .wrap .view_block-show .select-arrow-3:nth-child(2) {
  top: 3px;
  border-top-color: #FFF;
}
.content .view_block-view {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .view_block-view__title {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 10px;
}
.content .view_block-view .view-icons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .view_block-view .view-icons__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f4f0;
  color: #8c8c8c;
  padding: 8px;
  margin: 0;
  border: 1px solid #f6f4f0;
  cursor: pointer;
}
.content .view_block-view .view-icons__btn:hover {
  border: 1px solid #d9d3d9;
  color: #333;
  background-color: #fff;
}
.content .view_block-view .view-icons__btn:nth-child(1) {
  background-color: #fff;
  margin-right: 5px;
}
.content .view_block-view .view-icons .activr {
  border: 1px solid #d9d3d9;
  color: #333;
}
.content .goods-item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.content .goods-item .item-card {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .goods-item .item-card__img {
  width: 97%;
}
.content .goods-item .item-card .desc {
  margin-top: 17px;
}
.content .goods-item .item-card .desc__text {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 16px;
}
.content .goods-item .item-card .desc-cost {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.content .goods-item .item-card .desc-cost__span {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: line-through;
  margin-right: 20px;
}
.content .goods-item .item-card .desc-cost__title {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.content .goods-item .item-card__btn {
  background-color: #ccb48e;
  /* width: 120px; */
  /* height: 42px; */
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12.2px 21.1px;
  text-decoration: none;
}
.content .goods-item .item-card__btn:hover {
  text-decoration: none;
  color: #fff;
}
.content .pages {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 242px;
  margin-bottom: 100px;
}
.content .pages-page__btn {
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 42px;
  height: 42px;
  font-family: "Lato", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}
.content .pages-page__btn:hover {
  border: 1px solid #333333;
  background-color: #333333;
  color: #ccb48e;
}
.content .pages-page .actives {
  border: 1px solid #333333;
  background-color: #333333;
  color: #ccb48e;
}
.content .fix {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .content .goods-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 566px) {
  .content .view_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .view_block .wrap {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .content .view_block .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .view_block .wrap .view_block-show {
    margin-top: 10px;
  }
}
